*.zip
.DS_Store
node_modules/
/package.json
/package-lock.json
__pycache__/
*.pyc

# Бэкенд (NestJS)
backend/dist/
backend/coverage/
backend/.env
hidden_field/backend/dist/
hidden_field/backend/coverage/
hidden_field/backend/.env
.env
